@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
}

@layer components {
  .form__radio {
    @apply ml-3 text-sm font-medium text-gray-700;
  }
  .form__radio--focus {
    @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300;
  }
  .form__input {
    @apply bg-indigo-50 px-4 py-2 outline-none rounded-md w-full;
  }
  .form__label {
    @apply block mb-1 text-gray-600 font-semibold;
  }
  .form__btn--active {
    @apply py-2 px-4 border text-center border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 outline-none border-transparent;
  }
  .form__btn--deactivate {
    @apply py-2 px-4 border text-center border-transparent shadow-sm text-sm font-medium rounded-md bg-indigo-100 outline-none border-transparent;
  }
  .form__btn--transparent {
    @apply py-2 px-2 border text-center border-transparent shadow-sm text-sm font-medium rounded-md bg-transparent outline-none border-transparent;
  }
  .form__input--passengers {
    @apply py-2 px-2 border text-center border-transparent shadow-sm text-sm font-medium rounded-md bg-transparent outline-none w-8 border-transparent;
  }
  .page__title--base {
    @apply text-base font-medium text-gray-900;
  }
  .page__layout--12 {
    @apply grid grid-cols-12 gap-4 p-4 bg-white;
  }
  .header__layout {
    @apply p-4 bg-slate-900 dark:text-white;
  }
  .footer__layout {
    @apply p-4 bg-slate-900 dark:text-white;
  }
}

// #1c1f4c

// #00848c

// #037272

// #fccf17

// #fec20f

// #edebd9
